<!doctype html>
<html lang="en">

<head>
    <title>Job boards - Ads table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/styleAdmin.css">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css" type="text/css" media="all" />
    


    <!-- For Data Tables -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

    <!-- **************************************************************** -->
</head>

<body class= "bgForSection whenNoFullscreen">
    <section class="ftco-section bgForSection">
        <!-- First ad -->
            <div class="col-md-12">
                <div class="containerAdmin">
                        <div class="row marginSigninButton no-gutters">
                            <div class="dropdown">
                                <button class="btn btn-light btn_BiggerCircle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                      </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="/profile">Profile Settings</a>
                                  <a class="dropdown-item" href="#">Sign out</a>
                                  <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                </div>
                            </div>
                            <div class="offset-1">
                                <a class="a_btnBigger btn-light" type="button" href="/admin">
                                    <div style="display: inline"  class="sb-nav-link-icon"><i style="display: inline" class="fas fa-folder-plus"></i></div>
                                    Hub
                                </a>
                            </div>
                            <div class="offset-0">
                                    <a class="a_btnBigger btn-light" type="button" href="users">
                                        <div style="display: inline" class="sb-nav-link-icon"><i style="display: inline" class="fas fa-user-alt"></i></div>
                                        Users
                                    </a>
                            </div>
                            <div class="offset-0">
                                <a class="a_btnBigger btn-light" type="button" href="ads">
                                    <div style="display: inline" class="sb-nav-link-icon"><i style="display: inline" class="fas fa-ad"></i></div>
                                    Advertisements
                                </a>
                            </div>
                            <div class="offset-0">
                                    <a class="a_btnBigger btn-light" type="button" href="apps">
                                        <div style="display: inline"  class="sb-nav-link-icon"><i style="display: inline" class="fas fa-folder-plus"></i></div>
                                        Applications
                                    </a>
                            </div>
                        </div>
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-6">
                                            <h1 class ="mb-4">Advertisements</h1>
                                        </div>
                                        <div class="col-6 d-flex justify-content-end">
                                            <button type="button"  onclick="createFunction(), sendDataToAdd()" class="btn btn-primary align-self-center">+ add user</button>
                                        </div>                              
                                    </div>
                                    <table id="datatablesSimple" class="table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Company's name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Working time</th>
                                        <th scope="col">Wage</th>
                                        <th scope="col">Location</th>
                                        <th scope="col" class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% ads.forEach(function(ad) { %>
                                        
                                        <tr>
                                        <th scope="row"><%= ad.id %></th>
                                        <td><%= ad.title %></td>
                                        <td><%= ad.companyName %></td>
                                        <td><textarea readonly class="form-control"><%= ad.description %></textarea></td>
                                        <td><%= ad.workingTime %></td>
                                        <td><%= ad.wage %></td>
                                        <td><%= ad.location %></td>
                                        <td class="text-end">
                                            <div class="row">
                                                <div>
                                                    <button onclick="updateFunction(`<%= ad.id %>`, `<%= ad.title %>`, `<%= ad.companyName %>`, `<%= ad.description %>`, `<%= ad.workingTime %>`, `<%= ad.wage %>`, `<%= ad.location %>`);
                                                                     sendDatatoUpdate('<%= ad.id %>')" 
                                                                     type="button" class="btn btn-primary btn-small"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                      </svg></button>
                                                </div>
                                                <div class ="offset-0">
                                                    <button  onclick="deleteFunction('<%= ad.id %>')"type="button" class="btn btn-primary btn-small"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                      </svg></button>
                                                </div>
                                            </div>
                                        </td>
                                        </tr>

                                    <% }) %>
                                    </tbody>
                                    </table>

                                </div>
                            </div>

    </section>
    <div id="createNewAd"></div>
    <div id="updateTheAd"></div>

<!--     <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <!-- Data Tables -->    
    <script src="../js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="../js/datatables-simple-demo.js"></script>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    
<!--     <script src="../js/forDataTables/jquery.dataTables.min.js">f</script>
    <script src="../js/forDataTables/dataTables.select.min.js"></script>
    <script src="../js/forDataTables/dataTables.editor.min.js"></script>
    <script src="../js/forDataTables/dataTables.dateTime.min.js"></script>
    <script src="../js/forDataTables/dataTables.buttons.min.js"></script> -->

    <script>
        var scrollPosition = window.pageYOffset;
    </script>
    <script>
        function createFunction() {
            document.getElementById("createNewAd").innerHTML =
            `<div class="bg-modal scroll="no">
                <div class="container opacityOff PopupPanel">
                    <div class="contact-wrap w-100 p-md-5 p-4 inthemidddle">
                        <div class="col-md-12">
                            <form id ="creatingForm">
                                <div class="contactForm">
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-11 no-gutters">
                                            <input id="title"  name="title" type="text" class="form-control titleForm" placeholder="Title *" required />
                                        </div>
                                        <button onclick="closeAddForm()" class="close" type="button"></button>
                                    </div>
                                    <div class="ad-group">
                                            <div>
                                                <label class="label">Company:</label>
                                                <div class="form-group">
                                                    <input id="companyName" name="companyName" type="text" class="form-control inputForm" placeholder="Company Name *" required />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Description:</label><br>
                                                <div class="form-group">
                                                    <textarea id="descriptionOfNewAd" name="description" type="text" class="form-control inputForm" class="form-control" placeholder="Description of the job *" required ></textarea>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Working time:</label><br>
                                                <div class ="row no-gutters">
                                                    <div class="form-group col-md-1 no-gutters">
                                                        <input id="workingTime" name="workingTime" type="number" class="form-control inputForm" placeholder=" *" required />
                                                    </div>
                                                    <p class = "offset-0">h/week</p>  
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Wage:</label><br>
                                                <div class ="row no-gutters">
                                                    <div class="form-group col-md-1 no-gutters">
                                                        <input id="wage" name="wage" type="number" class="form-control inputForm" placeholder=" *" required />
                                                    </div>
                                                    <p class = "offset-0">$</p>  
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Location:</label><br>
                                                <div class="form-group">
                                                    <input id="location" name="location" type="text" class="form-control" placeholder="Location *" required />
                                                </div> 
                                            </div>
                                        
                                    </div>
                                </div>

                                <div class="row col-md-12">
                                    <div class="align-self-end show-more mt-4">
                                        <input id="submitButton" type="submit" class="btn btn-primary"  value="Create the Ad"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>`;

            /* Disable Scroll*/
            var $body = $(document.body);
            var oldWidth = $body.innerWidth();
            scrollPosition = window.pageYOffset;
            $body.css('overflow', 'hidden');
            $body.css('top', `-${scrollPosition}px`);
            $body.css('position', 'fixed');
            $body.width(oldWidth);
        }
    </script>
    <script>
        function closeAddForm() {
            document.getElementById("createNewAd").innerHTML = "";
            
            /* Enable Scroll*/
            var $body = $(document.body);
            $body.css('overflow', '');
            $body.css('position', '');
            $body.css('top', '');
            $body.width('');
            window.scrollTo(scrollPosition, scrollPosition);
        } 
    </script>
    <script>

       function sendDataToAdd() {
           $('#creatingForm').submit(function(e) {
               e.preventDefault();
    
               const data = $(this).serializeArray();
    
               const obj = {};
    
               function toJson(arr) {
    
                   arr.map((element) => {
                       obj[element.name] = element.value;
                   })
               }
               toJson(data);
    
               const domain = "localhost";
    
               fetch(`http://${domain}:3000/ads/new`, {
                   // mode: "no-cors",
                   headers: {
                       'Content-Type': 'application/json',
                   },
                   method: 'POST',
                   body: JSON.stringify(obj)
    
               });
               setInterval(function(){window.location.reload()}, 500);
           });
       };
    </script> 
    <script>
        function updateFunction(id, title, companyName, description, workingTime, wage, location) {
            
            document.getElementById("updateTheAd").innerHTML =
            `<div class="bg-modal scroll="no">
                <div class="container opacityOff PopupPanel">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <div class="col-md-12">
                            <form id="`+ id +`updateForm">
                                <div class="contactForm">
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-11 no-gutters">
                                            <input id="title" name="title" type="text" class="form-control titleForm" placeholder="Title *" value="` + title + `" required />
                                        </div>
                                        <button onclick="closeUpdateForm(`+ id +`)" class="close" type="button"></button>
                                    </div>
                                    <div class="ad-group">
                                            <div>
                                                <label class="label">Company:</label>
                                                <div class="form-group">
                                                    <input id="companyName" name="companyName" type="text" class="form-control inputForm" placeholder="Company Name *" value="` + companyName + `" required />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Description:</label><br>
                                                <div class="form-group">
                                                    <textarea id="`+ id +`description" name="description" type="text" class="form-control inputForm" class="form-control" placeholder="Description of the job *" required >` + description + `</textarea>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Working time:</label><br>
                                                <div class ="row no-gutters">
                                                    <div class="form-group col-md-1 no-gutters">
                                                        <input id="workingTime" name="workingTime" type="number" class="form-control inputForm" placeholder=" *" value="` + workingTime + `" required />
                                                    </div>
                                                    <p class = "offset-0">h/week</p>  
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Wage:</label><br>
                                                <div class ="row no-gutters">
                                                    <div class="form-group col-md-1 no-gutters">
                                                        <input id="wage" name="wage" type="number" class="form-control inputForm" placeholder=" *" value="` + wage + `" required />
                                                    </div>
                                                    <p class = "offset-0">$</p>  
                                                </div>
                                            </div>
                                            <div>
                                                <label class="label">Location:</label><br>
                                                <div class="form-group">
                                                    <input id="location" name="location" type="text" class="form-control" placeholder="Location *" value="` + location + `" required />
                                                </div> 
                                            </div> 
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="align-self-end show-more mt-4">
                                        <input id="submitButton" type="submit" class="btn btn-primary"  value="Save changes"/>
                                    </div>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
            </div>`;
            document.getElementById(id + 'updateForm').reset();

            /* Disable Scroll*/
            var $body = $(document.body);
            var oldWidth = $body.innerWidth();
            scrollPosition = window.pageYOffset;
            var bgcolor = '-webkit-linear-gradient(left, #20bf55, #01baef)';
            $body.css('overflow', 'hidden');
            $body.css('top', `-${scrollPosition}px`);
            $body.css('position', 'fixed');
            $body.width(oldWidth);
        }
    </script>
    <script>
        var scrollPosition = window.pageYOffset;
        function closeUpdateForm() {
            document.getElementById("updateTheAd").innerHTML = "";

            /* Enable Scroll*/

            var $body = $(document.body);
            $body.css('overflow', '');
            $body.css('position', '');
            $body.css('top', '');
            $body.width('');
            window.scrollTo(scrollPosition, scrollPosition);
        } 
    </script>
    <script>


        function sendDatatoUpdate(id) {
            $("#" + id + "updateForm").submit(function(e) {
                e.preventDefault();

                const data = $("#" + id + "updateForm").serializeArray();

                const obj = {};

                function toJson(arr) {

                    arr.map((element) => {
                        obj[element.name] = element.value;
                    })
                }
                toJson(data);

                const domain = "localhost";
                const afterAds = id;

                fetch(`http://${domain}:3000/ads/${afterAds}`, {
                    // mode: "no-cors",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    method: 'PUT',
                    body: JSON.stringify(obj)

                });
                setInterval(function(){window.location.reload()}, 500);
            });
        };
    </script>
    <script>
        function deleteFunction(id) 
        {
            swal({
            title: "Are you sure you want to delete this ad?",
            text: "Once deleted, you will not be able to recover this ad!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
            .then((willDelete) => {
            if (willDelete) {
                swal("", {
                icon: "success",
                });
                const domain = "localhost";
                    var afterAds = id;

                    fetch(`http://${domain}:3000/ads/${afterAds}`, {
                        // mode: "no-cors",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        method: 'DELETE'
                    });
                    setInterval(function(){window.location.reload()}, 1000);
            } else {
                return false;
            }
            });
        };
    </script>

</script>
</body>

</html>